.profile .check--forms ul.nav {
    display: flex;
    justify-content: space-around;
}

[dir="ltr"] .profile .check--forms ul.nav li button,
[dir="ltr"] .profile .check--forms ul.nav li button:focus {
    border: none;
    border-radius: 0;
    padding: 10px 3em;
    background-color: transparent;
    color: var(--main);
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 18px;
    outline: none;
}

[dir="rtl"] .profile .check--forms ul.nav li button,
[dir="rtl"] .profile .check--forms ul.nav li button:focus {
    border: none;
    border-radius: 0;
    padding: 10px 3em;
    background-color: transparent;
    color: var(--main);
    font-weight: bold;
    letter-spacing: 0px;
    font-size: 18px;
    outline: none;
}

[dir="ltr"] .profile .check--forms ul.nav li button.active {
    border-bottom: 2px solid var(--main);
    color: var(--secd);
}

[dir="rtl"] .profile .check--forms ul.nav li button.active {
    border-bottom: 2px solid var(--main);
    color: var(--secd);
}


/*table*/

.order-table table thead tr th {
    color: var(--secd);
    padding-bottom: 20px;
    padding-right: 10px !important;
}

.order-table table tbody tr {
    transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
}

.order-table table tbody tr:hover {
    background-color: #f6f6f6;
}

[dir="ltr"] .order-table table tr td {
    padding-right: 6% !important;
    color: #838080;
    min-width: 80px;
}

[dir="rtl"] .order-table table tr td {
    padding-left: 6% !important;
    color: #838080;
    min-width: 80px;
}

.order-table table .img-container {
    max-width: 200px;
    overflow: hidden;
}

.order-table table .img-container img {
    max-width: 200px;
    max-height: 200px;
}


/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        margin: 0 0 1rem 0;
    }
    tr:nth-child(odd) {
        background: #f6f6f6;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    /*
            Label the data
        You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
            */
    td:nth-of-type(1):before {
        content: "Photo";
    }
    td:nth-of-type(2):before {
        content: "Details";
    }
    td:nth-of-type(3):before {
        content: "Price";
    }
    td:nth-of-type(4):before {
        content: "Number";
    }
    td:nth-of-type(5):before {
        content: "Total";
    }
}


/*-----*/

.info {
    padding: 10px 15px;
    box-shadow: 0px 0px 5px var(--main);
}

[dir="ltr"] .info p {
    color: var(--secd);
    margin: 10px 0;
    font-weight: bold;
    letter-spacing: 2px;
}

[dir="rtl"] .info p {
    color: var(--secd);
    margin: 10px 0;
    font-weight: bold;
    letter-spacing: 0px;
}

.info p span {
    color: #838080;
    padding: 0 10px;
}

.aff-market {
    font-family: 'Lobster', cursive;
    color: var(--main) !important;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 20px !important;
}

.aff-marketing {
    height: 100vh;
    background-color: #25286ef2;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    z-index: 9999;
    transition: 0.4s all ease-in-out;
    -webkit-transition: 0.4s all ease-in-out;
    -moz-transition: 0.4s all ease-in-out;
    -ms-transition: 0.4s all ease-in-out;
    -o-transition: 0.4s all ease-in-out;
}

.aff-marketing i {
    color: var(--secd);
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
    margin: 20px 40px;
    cursor: pointer;
}

.aff-marketing .content {
    opacity: 0;
    box-shadow: 0px 0px 15px var(--secd);
    width: 60%;
    height: 42vh;
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 20%;
    transition: 1.3s all ease-in-out;
    -webkit-transition: 1.3s all ease-in-out;
    -moz-transition: 1.3s all ease-in-out;
    -ms-transition: 1.3s all ease-in-out;
    -o-transition: 1.3s all ease-in-out;
}

.aff-marketing .content h5 {
    color: #fff;
    margin: auto;
    margin-bottom: 7%;
    width: 80%;
    text-align: center;
}

.aff-marketing .content h1 {
    color: #f09b44;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    margin: auto;
    margin-bottom: 4%;
    width: 80%;
}

.aff-marketing .content .form-control {
    width: 80%;
    margin: auto;
    border: 2px solid var(--secd);
    font-weight: bold;
    font-size: 19px;
    color: var(--main);
}

@media (max-width: 1200px) {
    .aff-marketing .content {
        width: 70%;
    }
}

@media (max-width: 991.98px) {
    .aff-marketing .content {
        width: 85%;
    }
}

@media (max-width: 767.98px) {
    .aff-marketing .content {
        width: 95%;
    }
    .aff-marketing .content h5 {
        width: 95%;
    }
    .product .img-container .show-whish i {
        font-size: 17px;
        width: 40px;
        height: 40px;
        line-height: 38px;
    }
    [dir="ltr"] .profile .check--forms ul.nav li button,
    [dir="ltr"] .profile .check--forms ul.nav li button:focus {
        padding: 10px 1em;
        letter-spacing: 1px;
        font-size: 16px;
    }
    [dir="rtl"] .profile .check--forms ul.nav li button,
    [dir="rtl"] .profile .check--forms ul.nav li button:focus {
        padding: 10px 1em;
        letter-spacing: 0px;
        font-size: 16px;
    }
    table {
        direction: ltr !important;
    }
    [dir="rtl"] .order-table table tr td {
        padding-left: 50% !important;
    }
}

@media (max-width: 575.98px) {
    [dir="ltr"] .profile .check--forms ul.nav li button,
    [dir="ltr"] .profile .check--forms ul.nav li button:focus {
        padding: 10px 1em;
        letter-spacing: 1px;
        font-size: 13px;
    }
    [dir="rtl"] .profile .check--forms ul.nav li button,
    [dir="rtl"] .profile .check--forms ul.nav li button:focus {
        padding: 10px 1em;
        letter-spacing: 0px;
        font-size: 13px;
    }
    .product a.btn {
        border: 2px solid var(--secd);
        padding: 6px 17px
    }
}